@import "../../../../frontend_resources/scss/colors";
.search-container {
  &.dark-container {
    background-color: white;
  }

  .SearchField-mdc-text-field {
    height: 32px;
    background-color: transparent !important;

    .mdc-text-field__icon {
      left: 11px;
    }

    i {
      bottom: 5px;
    }

    input {
      padding: 0 40px 0 !important;
    }

    &::before, &::after {
      background-color: transparent !important;
    }
  }

}